<!-- This is the default landing page. It requires that the user define their client before proceeding
    to either toolkit. -->

@model CapstonePG_Project.Models.Warehouse

@{
    ViewBag.Title = "Create";
}

<div class="hero-unit" align="center">
  <h1>Warehouse Map - Setup</h1><br />
    Before choosing your toolkit, you must define the client and warehouse ID you'll be collecting data for.<br /><br />

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <fieldset>
            <div class="editor-field">
            <b>Warehouse ID:</b>
            @Html.EditorFor(model => model.whID)
            @Html.ValidationMessageFor(model => model.whID)
            </div>
            <br /><br />
            
            <div class="editor-field">
            <b>Warehouse Name:</b>
            @Html.EditorFor(model => model.whName)
            @Html.ValidationMessageFor(model => model.whName)
            </div>    
            <br /><br />
        <p>
            <input class="btn btn-large btn-primary" type="submit" value="Create Warehouse and Choose Toolkit" />
        </p>
        </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

        </div>