@model CapstonePG_Project.Models.PreferredMethod

@{
    ViewBag.Title = "Details";
}

<div class="hero-unit" align="center">
<h2>Preferred Method Details</h2>

<fieldset>
        <br /><br />
        <b>Preferred Method ID</b><br />
        @Html.DisplayFor(model => model.prefMethID)
       
        <br /><br />
        <b>Warehouse</b><br />
        @Html.DisplayFor(model => model.Warehouse.whName)
  
        <br /><br />
        <b>Preferred Method Name</b><br />
        @Html.DisplayFor(model => model.prefMethName)
   
        <br /><br />
        <b>Preferred Method Description</b><br />
        @Html.DisplayFor(model => model.prefMethDesc)
        <br /><br /> 

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new {id=Model.prefMethID}) |
    @Html.ActionLink("Back to List", "Index")
</p>

</div>